[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
asynctest = "*"
dependency-injector = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"

[scripts]
tests = "python -m unittest discover -s . -p \"*test.py\""
